@import './form/form';

.colonne {
    display: flex;
    width: 98%;
    margin-left: auto;
    margin-right: auto;

    .todo {
        display: flex;
        width: 33%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .colonne__toDo {
            display: flex;
            flex-direction: column;
            width: 100%;
            .project {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
            }
        }
    }

    .doing {
        display: flex;
        width: 33%;
        flex-direction: column;
        align-items: center;
    }

    .done {
        display: flex;
        width: 33%;
        flex-direction: column;
        align-items: center;
    }
}