@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#form_valid {
  background-color: transparent;
  border: 0px transparent;
  background-color: #EEF5FF;
  border-radius: 10px;
  cursor: pointer;
  height: 22px;
  width: 60px;
  margin-left: auto;
  font-weight: 600;
  transition: all 150ms linear;
}
#form_valid:hover {
  border: 1.5px solid black;
}

input[type=text] {
  background-color: #EEF5FF;
  border: 0px;
  border-radius: 25px;
  padding: 3px;
  margin-left: 2px;
  margin-right: 5px;
  margin-bottom: 10px;
}

input[type=date] {
  background-color: #EEF5FF;
  border: 0px;
  border-radius: 25px;
  padding: 3px;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#form_modif {
  background-color: transparent;
  border: 0px transparent;
  background-color: #EEF5FF;
  border-radius: 10px;
  cursor: pointer;
  height: 22px;
  width: 70px;
  margin-left: 6px;
  font-weight: 600;
  transition: all 150ms linear;
}
#form_modif:hover {
  border: 1.5px solid black;
}

.project {
  color: #2D3250;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 25px;
  margin-bottom: 25px;
  font-family: "Rubik", sans-serif;
}
.project p {
  margin: 0;
  margin-bottom: 10px;
  width: 90%;
  height: auto;
  word-wrap: break-word;
}
.project h3 {
  margin: 0;
  margin-top: 15px;
  font-size: 28px;
  margin-bottom: 10px;
}
.project .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  color: white;
  position: absolute;
  background-color: lightcoral;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: transparent;
  right: 0;
  margin-right: 14px;
  margin-top: 12px;
  transition: all 100ms linear;
  cursor: pointer;
}
.project .delete:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.project .modif {
  position: absolute;
  left: 0;
  transition: all 100ms linear;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: transparent;
  margin-left: 14px;
  margin-top: 12px;
  background-color: white;
  background-image: url("./assets/img/bxs-paint.svg");
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(200deg) brightness(111%) contrast(101%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
.project .modif:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.project .selection {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #2D3250;
  border-radius: 5px;
}

h2 {
  margin-bottom: 35px;
  font-family: "Rubik", sans-serif;
}

.affiche {
  margin-bottom: 25px;
  color: white;
  background-color: #2D3250;
  border-radius: 5px;
}

#afficherPopup {
  background-color: transparent;
  border: 0px transparent;
  background-color: #EEF5FF;
  border-radius: 10px;
  cursor: pointer;
  height: 22px;
  width: 100px;
  margin-left: 6px;
  font-weight: 600;
  transition: all 150ms linear;
}
#afficherPopup:hover {
  border: 1.5px solid black;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.colonne__unique {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 25px;
  border-radius: 25px;
  background-color: #EEF5FF;
}
.colonne__unique .project {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.colonne__unique .project h3 {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}
.colonne__unique .project p {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
}

.colonne {
  display: flex;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 900px) {
  .colonne {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.colonne .todo {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  background-color: #EEF5FF;
  border-radius: 20px;
  margin: 15px;
}
@media (max-width: 900px) {
  .colonne .todo {
    margin-bottom: 25px;
    width: 90%;
  }
}
.colonne .todo .colonne__toDo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.colonne .todo .colonne__toDo .project {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.colonne .doing {
  display: flex;
  width: 33%;
  flex-direction: column;
  background-color: #EEF5FF;
  align-items: center;
  margin: 15px;
  border-radius: 20px;
}
@media (max-width: 900px) {
  .colonne .doing {
    margin-bottom: 25px;
    width: 90%;
  }
}
.colonne .doing .colonne__doing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.colonne .doing .colonne__doing .project {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.colonne .done {
  display: flex;
  width: 33%;
  flex-direction: column;
  background-color: #EEF5FF;
  align-items: center;
  margin: 15px;
  border-radius: 20px;
}
@media (max-width: 900px) {
  .colonne .done {
    margin-bottom: 25px;
    width: 90%;
  }
}
.colonne .done .colonne__done {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.colonne .done .colonne__done .project {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}/*# sourceMappingURL=style.css.map */