@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@mixin max-width($size) {
    @media (max-width:$size) {
        @content;
    }
}

$phone: '900px';

.project {
    color: #2D3250;
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 25px;
    margin-bottom: 25px;
    font-family: 'Rubik', sans-serif;

    p {
        margin: 0;
        margin-bottom: 10px;
        width: 90%;
        height: auto;
    word-wrap: break-word;    }

    h3 {
        margin: 0;
        margin-top: 15px;
        font-size: 28px;
        margin-bottom: 10px;
    }

    .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 300;
        color: white;
        position: absolute;
        background-color: lightcoral;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: transparent;
        right: 0;
        margin-right: 14px;
        margin-top: 12px;

        transition: all 100ms linear;
        cursor: pointer;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;    }
    }

    .modif {
        position: absolute;
        left: 0;
        transition: all 100ms linear;
        cursor: pointer;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: transparent;
        margin-left: 14px;
        margin-top: 12px;
        background-color: white;
        background-image: url('./assets/img/bxs-paint.svg');
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(200deg) brightness(111%) contrast(101%);
        background-repeat: no-repeat;
        background-position: center;
        background-size:80%;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;    }
    }

    .selection {
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #2D3250;
        border-radius: 5px;
    }
}

h2 {
    margin-bottom: 35px;
    font-family: 'Rubik', sans-serif;
}

.affiche {
    margin-bottom: 25px;
    color: white;
    background-color: #2D3250;
    border-radius: 5px;
}

#afficherPopup {
    background-color: transparent;
    border: 0px transparent;

    // reset

    background-color: #EEF5FF;
    border-radius: 10px;
    cursor: pointer;
    height: 22px;
    width: 100px;
    margin-left: 6px;
    font-weight: 600;

    // transition

    transition: all 150ms linear;

    &:hover {
        border: 1.5px solid black;
    }
}